@theme {
    /* Font sizes */
    --text-3xl: 32px;
    --text-sm-base: 15px;
    --text-xs-base: 13px;
    --text-xxs: 11px;

    /* Letter Spacing */
    --tracking-tight: -0.03em;

    /* Colours */
    --color-blue-950: #10141E;
    --color-blue-900: #161D2F;
    --color-blue-500: #5A698FF;
    --color-red-500: #FC4747;

    /* Spacing */
    --spacing-0: 0;
    --spacing-100: 8px;
    --spacing-200: 16px;
    --spacing-300: 24px;
    --spacing-400: 32px;
    --spacing-500: 40px;
    --spacing-700: 56px;
    --spacing-900: 72px;
    --spacing-1000: 80px;

    /* Container Widths */
    --max-w-7xl: 1440px;

    /* Border */
    --rounded-3xl: 20px
}

@layer base {
    body {
        font-family: 'Outfit', sans-serif;
        @apply text-white bg-blue-950 px-[var(--spacing-400)] pt-[var(--spacing-400)];
    }

    h1 {
        @apply text-xl leading-tight tracking-tight font-light;
        @apply md:text-3xl  md:tracking-tighter py-[var(--spacing-500)]
    }

    h2 {
        @apply text-base leading-tight font-light;
        @apply md:text-2xl md:font-medium
    }

    h3 {
        @apply text-sm-base leading-tight font-medium;
        @apply md:text-lg
    }

    p, li, a {
        @apply text-lg
    }

    a {
        @apply text-red-500
    }

    button {
        @apply rounded px-4 py-2 font-medium bg-red-500 text-white;
    }
}

@layer components {
    .text-preset-1 {
        @apply text-xl leading-tight tracking-tight font-light;
        @apply md:text-3xl  md:tracking-tighter
    }

    .text-preset-2-md {
        @apply text-base leading-tight font-light;
        @apply md:text-2xl md:font-medium
    }

    .text-preset-2-light {
        @apply text-base leading-tight font-light;
        @apply md:text-2xl
    }

    .text-preset-3 {
        @apply text-sm-base leading-tight  font-medium;
        @apply md:text-lg
    }

    .text-preset-4 {
        @apply text-sm-base leading-tight font-medium;
        @apply md:text-sm-base md:font-light
    }

    .text-preset-5 {
        @apply text-xs leading-tight font-light;
        @apply md:text-xs-base
    }

    .btn-primary {
        @apply bg-red-500 text-white rounded-md
    }

    .btn-secondary {
        @apply bg-white text-blue-900 rounded-md
    }
}

@layer utilities {
    .flex-center {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
